.Hud {
  position: absolute;
  left: 2px;
  top: 10px;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Hud .Combatant {
  position: relative;
}

.Hud .Combatant_type {
  display: none;
}
